<html>
    <head>
        <title>Requriment for NDA</title>
        <style>
            #wrapper{
                background-color: black;
            }
            .contain{
               background-color:black;
                color: yellow;
            }
            .link{
                color: red;
            }
           

        </style>
    </head>
    <body style="background-color: black;">
        <div id="wrapper">
        <div class="contain">
        <h1>The maximum age limit for joining NDA is the age group of 16½ to 19½ and only unmarried can join NDA.</h1>

        <h2>For Army:</h2>
        <li>
            
            "12th Pass of the 10+2 pattern of School or equivalent examination by a State Education Board or a University."
        </li>
        <h3>For Air Force & Navy</h3>
        <li>
            
            "12th Pass of the 10+2 pattern of School Education or equivalent with Physics, Chemistry and Mathematics conducted by a State Education Board or a University".
        </li>
        <h4>Candidates must be physically and mentally fit according to prescribed physical standards/guidelines given in the Notification.</h4>
    </div>
        <a href="/t" class="link"> "Click here for Registration"</a>
    </div>
    
</body>
</html>